<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|striptags} | {/ifset}Frontend</title>  
    
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
    <link rel="stylesheet" href="{$basePath}/css/common/style.css">
    <link rel="stylesheet" href="{$basePath}/css/common/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{$basePath}/js/common/common.js"></script>
    <script src="{$basePath}/js/common/nette.ajax.js"></script>
    <script src="{$basePath}/js/common/live-form-validation.js"></script>
    <script src="{$basePath}/js/common/bootstrap.min.js"></script>

    <script>
        $(function () {
            $.nette.init();
        });
    </script>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

    <div id="main">
        <div id="menu-wrapper" {if isset($submenu)}class="bigger"{/if}>
            <div id="main-menu">
                {include '../common/components/sidemenu.latte'}
            </div>

            {if isset($submenu)}
                <div id="sub-menu">
                    {include '../common/components/submenu.latte'}
                </div>
            {/if}
        </div>

        <div id="page" {if isset($submenu)}class="bigger-page"{/if}>
            <a n:href="Sign:out">
                <div class="logout_icon" title="Odhlásit se"></div>
            </a>
            {include content}
        </div>
    </div>

	{block scripts}
	{/block}
</body>
</html>