{layout '../../../../@layout.latte'}

{block content}

<h1>Seznam bankovních účtů</h1>

{if $accounts}
	<table class="table table-hover user_detail">
		<thead>
			<tr>
				<th>Číslo účtu</th>
				<th>Název účtu</th>
				<th>Zůstatek</th>
				<th>Typ účtu</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{foreach $accounts as $account}
				<tr>
				<!-- <a class="table-row search-row" n:href="Admin:accountDetail $account->id"> -->
					<td><a class="table-row search-row" n:href="Admin:accountDetail $account->id">{$account->id}</a></td>
					<td><a class="table-row search-row" n:href="Admin:accountDetail $account->id">{$account->name}</a></td>
					<td><a class="table-row search-row" n:href="Admin:accountDetail $account->id">{$account->balance}</a></td>
					<td><a class="table-row search-row" n:href="Admin:accountDetail $account->id">
						{if $account->type == "regular"}Běžný účet
						{elseif $account->type == "savings"}Spořící účet
						{else}Úvěrový účet{/if}
					</a></td>
					<td><a n:href="Admin:deleteAccount $account->id, $clientID">
							<img class="blue" src="../images/delete_blue.svg" title="Odstranit" alt="Odstranit">
							<img class="white" src="../images/delete_white.svg" title="Odstranit" alt="Odstranit">
						</a>
					</td>
				</tr>
			{/foreach}
		</tbody>
	</table>
{/if}

{/block}
