{layout '../../../../@layout.latte'}

{block content}

<h1>Bankovní účet {$account->name}</h1>

{if $account->type == "regular"}
	<table class="table table-hover">
		<tbody>
			<tr>
				<th>Číslo účtu</th>
				<td>{$account->id}</td>
			</tr>
			<tr>
				<th>Stav účtu</th>
				<td>{$account->balance}kč</td>
			</tr>
			<tr>
				<th>Typ účtu</th>
				<td>Běžný účet</td>
			</tr>
			<tr>
				<th>Denní limit</th>
				<td>{$accountSpecific->daily_limit}</td>
			</tr>
		</tbody>
	</table>
{elseif $account->type == "savings"}
	<table class="table table-hover">
		<tbody>
			<tr>
				<th>Číslo účtu</th>
				<td>{$account->id}</td>
			</tr>
			<tr>
				<th>Stav účtu</th>
				<td>{$account->balance}kč</td>
			</tr>
			<tr>
				<th>Typ účtu</th>
				<td>Spořící účet</td>
			</tr>
			<tr>
				<th>Úrok</th>
				<td>{$accountSpecific->interest}%</td>
			</tr>
		</tbody>
	</table>
{else}
	<table class="table table-hover">
		<tbody>
			<tr>
				<th>Číslo účtu</th>
				<td>{$account->id}</td>
			</tr>
			<tr>
				<th>Stav účtu</th>
				<td>{$account->balance}kč</td>
			</tr>
			<tr>
				<th>Typ účtu</th>
				<td>Úvěrový účet</td>
			</tr>
			<tr>
				<th>Úrok</th>
				<td>{$accountSpecific->interest}%</td>
			</tr>
			<tr>
				<th>Výše úvěru</th>
				<td>{$accountSpecific->amount} Kč</td>
			</tr>
			<tr>
				<th>Typ úvěru</th>
				<td>{$accountSpecific->type}</td>
			</tr>
		</tbody>
	</table>

{/if}

{if isset($accessArray)}
	<br><br>
	<h3>Seznam klientů, kteří mají přístup k tomuto účtu</h3>

	<table class="table table-hover account_access">
		<thead>
			<tr>
				<th>Rodné číslo</th>
				<th>Jméno</th>
				<th>Příjmení</th>
				<th>Adresa</th>
				<th>Město</th>
				<th>PSČ</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			{foreach $accessArray as $disponent}
					<tr>
						<td><a class="table-row search-row" n:href="Admin:clientDetail $disponent->id">{$disponent->personal_number}</a></td>
						<td><a class="table-row search-row" n:href="Admin:clientDetail $disponent->id">{$disponent->name}</a></td>
						<td><a class="table-row search-row" n:href="Admin:clientDetail $disponent->id">{$disponent->surname}</a></td>
						<td><a class="table-row search-row" n:href="Admin:clientDetail $disponent->id">{$disponent->adress}</a></td>
						<td><a class="table-row search-row" n:href="Admin:clientDetail $disponent->id">{$disponent->city}</a></td>
						<td><a class="table-row search-row" n:href="Admin:clientDetail $disponent->id">{$disponent->zip}</a></td>
						<td>
							<a n:href="getAccessId! $disponent->id, $account->id">
								<img class="blue" src="../images/delete_blue.svg" title="Odstranit" alt="Odstranit">
								<img class="white" src="../images/delete_white.svg" title="Odstranit" alt="Odstranit">
							</a>
						</td>
					</tr>
				{/foreach}
		</tbody>
	</table>

{/if}

<a n:href="Admin:addAccess $account->id, $clientID">
	<input type="submit" name="addAccess" value="Přidat disponenta">
</a>

{/block}