{layout '../../../../@layout.latte'}

{block content}

<h1>Přidat účet</h1>

<select id="select-account">
	<option value="1">Běžný</option>
	<option value="2">Spořící</option>
	<option value="3">Úvěrový</option>
</select>

{control addAccountRegularForm}
{control addAccountSavingsForm}
{control addAccountCreditForm}

<script>
	$('#frm-addAccountSavingsForm').hide();
	$('#frm-addAccountCreditForm').hide();

	$('#select-account').change(function() {
		var type = $('option:selected', $(this)).index();

		switch(type) {
			case 0: {
				$('#frm-addAccountRegularForm').show();
				$('#frm-addAccountSavingsForm').hide();
				$('#frm-addAccountCreditForm').hide();

				break;
			}
			case 1: {
				$('#frm-addAccountRegularForm').hide();
				$('#frm-addAccountCreditForm').hide();
				$('#frm-addAccountSavingsForm').show();

				break;
			}
			case 2: {
				$('#frm-addAccountRegularForm').hide();
				$('#frm-addAccountSavingsForm').hide();
				$('#frm-addAccountCreditForm').show();

				break;
			}
		}
	});
</script>

{/block}