{layout '../../../../@layout.latte'}

{block content}

<h1>Seznam poboček</h1>

<table class="table table-hover" id="branch_table">
	<thead>
		<tr>
			<th>Adresa</th>
			<th>Město</th>
			<th>PSČ</th>
			<th>Bankomat</th>
		</tr>
	</thead>
	<tbody>
		{foreach $results as $result}
			<tr class="tr_branch">
				<td><a class="table-row" n:href="Admin:branchDetail $result->id">{$result->adress}</a></td>
				<td><a class="table-row" n:href="Admin:branchDetail $result->id">{$result->city}</a></td>
				<td><a class="table-row" n:href="Admin:branchDetail $result->id">{$result->zip}</a></td>
				<td>
					<a class="table-row" n:href="Admin:branchDetail $result->id">
						{if $result->atm == 0}
							<img class="blue" src="../images/cross_blue.svg" title="Ne" alt="Ne">
							<img class="white" src="../images/cross_white.svg" title="Ne" alt="Ne">
						{else}
							<img class="blue" src="../images/tick_blue.svg" title="Ano" alt="Ano">
							<img class="white" src="../images/tick_white.svg" title="Ano" alt="Ano">
						{/if}
					</a>
				</td>
			</tr>
		{/foreach}
	</tbody>
</table>

{/block}