{layout '../../../../@layout.latte'}

{block content}

<h1>Informace o pobočce</h1>

<table class="table table-hover user_detail">
	<tbody>
		<tr>
			<th>Adresa</th>
			<td>{$branch->adress}</td>
		</tr>
		<tr>
		<tr>
			<th>Město</th>
			<td>{$branch->city}</td>
		</tr>
		<tr>
		<tr>
			<th>PSČ</th>
			<td>{$branch->zip}</td>
		</tr>
		<tr>
		<tr>
			<th>Popis</th>
			<td>{$branch->description}</td>
		</tr>
		<tr>
			<th>Manažer</th>
			<td>{if $branch->manager}
					<a n:href="Admin:employeeDetail $branch->manager" title="Zobrazit manažera">{$employee->name} {$employee->surname}</a>
				{/if}
			</td>
		</tr>
	</tbody>
</table>

{/block}