{layout '../../../../@layout.latte'}

{block content}

<h1>Informace o klientovi</h1>

<table class="table table-hover user_detail">
	<tbody>
		<tr>
			<th>Jméno</th>
			<td>{$client->name}</td>
		</tr>
		<tr>
			<th>Příjmení</th>
			<td>{$client->surname}</td>
		</tr>
		<tr>
			<th>Uživatelské jméno</th>
			<td>{$client->username}</td>
		<tr>
			<th>Rodné číslo</th>
			<td>{$client->personal_number}</td>
		</tr>
		<tr>
			<th>Číslo občanského průkazu</th>
			<td>{$client->personal_id}</td>
		</tr>
		<tr>
			<th>Datum narození</th>
			<td>{$client->birthday_number}</td>
		</tr>
		<tr>
			<th>Pohlaví</th>
			<td>{$client->sex}</td>
		</tr>
		<tr>
			<th>Adresa</th>
			<td>{$client->adress}</td>
		</tr>
		<tr>
			<th>Město</th>
			<td>{$client->city}</td>
		</tr>
		<tr>
			<th>PSČ</th>
			<td>{$client->zip}</td>
		</tr>
		<tr>
			<th>Telefon</th>
			<td>{$client->phone}</td>
		</tr>
		<tr>	
			<th>E-mail</th>
			<td>{$client->email}</td>
		</tr>
	</tbody>
</table>

{if $accounts}
	<table class="table table-hover user_detail">
		<thead>
			<tr>
				<th>Číslo účtu</th>
				<th>Název účtu</th>
				<th>Zůstatek</th>
				<th>Typ účtu</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{foreach $accounts as $account}
				<tr>
				<!-- <a class="table-row search-row" n:href="Admin:accountDetail $account->id"> -->
					<td><a class="table-row search-row" n:href="Admin:accountDetail $account->id">{$account->id}</a></td>
					<td><a class="table-row search-row" n:href="Admin:accountDetail $account->id">{$account->name}</a></td>
					<td><a class="table-row search-row" n:href="Admin:accountDetail $account->id">{$account->balance}</a></td>
					<td><a class="table-row search-row" n:href="Admin:accountDetail $account->id">
						{if $account->type == "regular"}Běžný účet
						{elseif $account->type == "savings"}Spořící účet
						{else}Úvěrový účet{/if}
					</a></td>
					<td>
						<a n:href="Admin:deleteAccount $account->id, $clientID">
							<img class="blue" src="../images/delete_blue.svg" title="Odstranit" alt="Odstranit">
							<img class="white" src="../images/delete_white.svg" title="Odstranit" alt="Odstranit">
						</a>
					</td>
				</tr>
			{/foreach}
		</tbody>
	</table>
{/if}

{/block}
