{layout '../../../../@layout.latte'}

{block content}

{if $employee->has_image == 1}
	<img src="../images/employees/{$employee->id}.jpg" class="profile-photo-big">
{else}
	<img src="../images/default_profile_color.svg" class="profile-photo-big">
{/if}

<h1>{$name} {$surname}</h1>

<table class="table table-hover user_detail">
	<tbody>
		<tr>
			<th>Pozice</th>
			<td>
				{if $employee->role == "admin"}Administrátor{else}Zaměstananec na pobočce{/if}
			</td>
		</tr>
		<tr>
			<th>Uživatelské jméno</th>
			<td>{$employee->username}</td>
		<tr>
			<th>Rodné číslo</th>
			<td>{$employee->personal_number}</td>
		</tr>
		<tr>
			<th>Číslo občanského průkazu</th>
			<td>{$employee->personal_id}</td>
		</tr>
		<tr>
			<th>Datum narození</th>
			<td>{$employee->birthday_number}</td>
		</tr>
		<tr>
			<th>Pohlaví</th>
			<td>{$employee->sex}</td>
		</tr>
		<tr>
			<th>Adresa</th>
			<td>{$employee->adress}</td>
		</tr>
		<tr>
			<th>Město</th>
			<td>{$employee->city}</td>
		</tr>
		<tr>
			<th>PSČ</th>
			<td>{$employee->zip}</td>
		</tr>
		<tr>
			<th>Telefon</th>
			<td>{$employee->phone}</td>
		</tr>
		<tr>	
			<th>E-mail</th>
			<td>{$employee->email}</td>
		</tr>
		<tr>
			<th>Pobočka
			<td>{if $employee->branch}
					<a n:href="Admin:branchDetail $employee->branch" title="Zobrazit pobočku">{$branch->adress}, {$branch->city}</a>
				{/if}
			</td>
		</tr>
	</tbody>
</table>



{/block}