{layout '../../../../@layout.latte'}

{block content}

<h1>Odstranit {$employee->name} {$employee->surname}?</h1>

<a n:href="deleteEmployee! $employee->id">
	<input type="submit" name="yes" value="Ano"></a>
<br><br>
<a n:href="Admin:employeeDetail $employee->id">
	<input type="submit" name="no" value="Ne"></a>


{/block}