{layout '../../../../@layout.latte'}

{block content}

<h1>Odstranit účet {$account->name} klienta {$client->name} {$client->surname}?</h1>

<a n:href="deleteAccount!  $account->id, $client->id">
	<input type="submit" name="yes" value="Ano"></a>
<br><br>
<a n:href="Admin:accountDetail $account->id">
	<input type="submit" name="no" value="Ne"></a>


{/block}