{layout '../../../../@layout.latte'}

{block content}

<h1>Odstranit {$client->name} {$client->surname}?</h1>

<a n:href="deleteClient! $client->id">
	<input type="submit" name="yes" value="Ano"></a>
<br><br>
<a n:href="Admin:deleteClient $client->id">
	<input type="submit" name="no" value="Ne"></a>


{/block}