{layout '../../../../@layout.latte'}

{block content}

<h1>Odstranit disponenta {$client->name} {$client->surname}?</h1>

<a n:href="deleteAccess! $access->id, $account->id">
	<input type="submit" name="yes" value="Ano"></a>
<br><br>
<a n:href="Admin:accountDetail $account->id">
	<input type="submit" name="no" value="Ne"></a>

{/block}