{layout '../../../../@layout.latte'}

{block content}

<h1>Odstranit {$branch->adress}, {$branch->city}?</h1>

<a n:href="deleteBranch! $branch->id">
	<input type="submit" name="yes" value="Ano"></a>
<br><br>
<a n:href="Admin:branchDetail $branch->id">
	<input type="submit" name="no" value="Ne"></a>

{/block}