{layout '../../../../@layout.latte'}

{block content}

<h1>Edit zaměstnance</h1>

<form n:name=editEmployeeForm class=form>
	{input name}
	{input surname} <br>
	{input personal_number_first}<span class="slash">/</span>
	{input personal_number_second} <br>
	{input personal_id} <br>
	{input adress} <br>
	{input city} 
	{input zip} <br>
	{input predvolba}
	{input phoneShort} <br>
	{input email} <br>
	{input branch} <br>
	{input send} <br>
</form>


{/block}