{layout '../../../../@layout.latte'}

{block content}

<h1>Informace o zaměstnanci</h1>

<table class="table table-hover user_detail">
	<tbody>
		<tr>
			<th>Jméno</th>
			<td>{$employee->name}</td>
		</tr>
		<tr>
			<th>Příjmení</th>
			<td>{$employee->surname}</td>
		</tr>
		<tr>
			<th>Uživatelské jméno</th>
			<td>{$employee->username}</td>
		<tr>
			<th>Rodné číslo</th>
			<td>{$employee->personal_number}</td>
		</tr>
		<tr>
			<th>Číslo občanského průkazu</th>
			<td>{$employee->personal_id}</td>
		</tr>
		<tr>
			<th>Datum narození</th>
			<td>{$employee->birthday_number}</td>
		</tr>
		<tr>
			<th>Pohlaví</th>
			<td>{$employee->sex}</td>
		</tr>
		<tr>
			<th>Adresa</th>
			<td>{$employee->adress}</td>
		</tr>
		<tr>
			<th>Město</th>
			<td>{$employee->city}</td>
		</tr>
		<tr>
			<th>PSČ</th>
			<td>{$employee->zip}</td>
		</tr>
		<tr>
			<th>Telefon</th>
			<td>{$employee->phone}</td>
		</tr>
		<tr>	
			<th>E-mail</th>
			<td>{$employee->email}</td>
		</tr>
		<tr>
			<th>Pobočka</th>
			<td>{if $employee->branch}
					<a n:href="Admin:branchDetail $employee->branch" title="Zobrazit pobočku">{$branch->adress}, {$branch->city}</a>
				{/if}
			</td>
		</tr>
	</tbody>
</table>

{/block}