{layout '../../../../@layout.latte'}

{block content}

<h1>Vyhledat klienta v databázi</h1>

{control searchClientForm}

{snippet searchResults}
	{if $results}
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Jméno</th>
					<th>Příjmení</th>
					<th>Adresa</th>
					<th>Město</th>
					<th>PSČ</th>
					<th>Telefon</th>
					<th>Email</th>
				</tr>
			</thead>

			<tbody>
				{foreach $results as $result}
				<!-- <tr class="clickable-row" n:href="Admin:clientDetail $result->id"> -->
					<tr>
						<td><a class="table-row search-row" n:href="Admin:clientDetail $result->id">{$result->name}</a></td>
						<td><a class="table-row search-row" n:href="Admin:clientDetail $result->id">{$result->surname}</a></td>
						<td><a class="table-row search-row" n:href="Admin:clientDetail $result->id">{$result->adress}</a></td>
						<td><a class="table-row search-row" n:href="Admin:clientDetail $result->id">{$result->city}</a></td>
						<td><a class="table-row search-row" n:href="Admin:clientDetail $result->id">{$result->zip}</a></td>
						<td><a class="table-row search-row" n:href="Admin:clientDetail $result->id">{$result->phone}</a></td>
						<td><a class="table-row search-row" n:href="Admin:clientDetail $result->id">{$result->email}</a></td>
					</tr>
				{/foreach}
			</tbody>
		</table>
	{/if}
{/snippet}

<script>
	$('#frm-searchClientForm-name').keypress(function () {
		if ($(this).val().length > 0) {

			$('#search-button').trigger("click");
		}
	});
</script>

<style>
	#search-button {
		display: none;
	}
</style>

{/block}