{layout '../../../../@layout.latte'}

{block content}

<h1>Vyhledat klienta podle čísla občanského průkazu</h1>

{control searchClientByPersonalIDForm}

{snippet searchResults}
	{if $results}
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Jméno</th>
					<th>Příjmení</th>
					<th>Adresa</th>
					<th>Město</th>
					<th>PSČ</th>
					<th>Telefon</th>
					<th>Email</th>
				</tr>
			</thead>

			<tbody>
				{foreach $results as $result}
				<!-- <tr class="clickable-row" n:href="Admin:clientDetail $result->id"> -->
					<tr>
						<td><a class="table-row search-row ajax" n:href="showUserAccounts! $result->id">{$result->name}</a></td>
						<td><a class="table-row search-row ajax" n:href="showUserAccounts! $result->id">{$result->surname}</a></td>
						<td><a class="table-row search-row ajax" n:href="showUserAccounts! $result->id">{$result->adress}</a></td>
						<td><a class="table-row search-row ajax" n:href="showUserAccounts! $result->id">{$result->city}</a></td>
						<td><a class="table-row search-row ajax" n:href="showUserAccounts! $result->id">{$result->zip}</a></td>
						<td><a class="table-row search-row ajax" n:href="showUserAccounts! $result->id">{$result->phone}</a></td>
						<td><a class="table-row search-row ajax" n:href="showUserAccounts! $result->id">{$result->email}</a></td>
					</tr>
				{/foreach}
			</tbody>
		</table>
	{/if}
{/snippet}

{snippet accountsSnippet}
	{if isset($accounts)}
		<br>
		<h3>Vlastní účty</h3>

		<table class="table table-hover user_detail account_access">
			<thead>
				<tr>
					<th>Číslo účtu</th>
					<th>Název účtu</th>
					<th>Zůstatek</th>
					<th>Typ účtu</th>
				</tr>
			</thead>
			<tbody>
				{foreach $accounts as $account}
					<tr>
						{if $transactionType == 1}
							{if $account->type != "savings"}
								<td><a class="table-row search-row" n:href="Admin:newTransactionToClient $account->id, $clientID">{$account->id}</a></td>
								<td><a class="table-row search-row" n:href="Admin:newTransactionToClient $account->id, $clientID">{$account->name}</a></td>
								<td><a class="table-row search-row" n:href="Admin:newTransactionToClient $account->id, $clientID">{$account->balance}</a></td>
								<td><a class="table-row search-row" n:href="Admin:newTransactionToClient $account->id, $clientID">
									{if $account->type == "regular"}Běžný účet
									{else}Úvěrový účet{/if}
								</a></td>
							{else}
								<td>{$account->id}</td>
								<td>{$account->name}</td>
								<td>{$account->balance}</td>
								<td>Spořící účet</td>
							{/if}
						{elseif $transactionType == 2}
							{if $account->type != "savings"}
								<td><a class="table-row search-row" n:href="Admin:newTransactionGetMoney $account->id, $clientID">{$account->id}</a></td>
								<td><a class="table-row search-row" n:href="Admin:newTransactionGetMoney $account->id, $clientID">{$account->name}</a></td>
								<td><a class="table-row search-row" n:href="Admin:newTransactionGetMoney $account->id, $clientID">{$account->balance}</a></td>
								<td><a class="table-row search-row" n:href="Admin:newTransactionGetMoney $account->id, $clientID">
									{if $account->type == "regular"}Běžný účet
									{elseif $account->type == "savings"}Spořící účet
									{else}Úvěrový účet{/if}
								</a></td>
							{else}
								<td>{$account->id}</td>
								<td>{$account->name}</td>
								<td>{$account->balance}</td>
								<td>Spořící účet</td>
							{/if}
						{elseif $transactionType == 3}
							<td><a class="table-row search-row" n:href="Admin:newTransactionGiveMoney $account->id, $clientID">{$account->id}</a></td>
							<td><a class="table-row search-row" n:href="Admin:newTransactionGiveMoney $account->id, $clientID">{$account->name}</a></td>
							<td><a class="table-row search-row" n:href="Admin:newTransactionGiveMoney $account->id, $clientID">{$account->balance}</a></td>
							<td><a class="table-row search-row" n:href="Admin:newTransactionGiveMoney $account->id, $clientID">
								{if $account->type == "regular"}Běžný účet
								{elseif $account->type == "savings"}Spořící účet
								{else}Úvěrový účet{/if}
							</a></td>
						{/if}
					</tr>
				{/foreach}
			</tbody>
		</table>
	{/if}

	{if isset($sharedAccounts)}
		<br>
		<h3>Sdílené účty</h3>

		<table class="table table-hover user_detail account_access">
			<thead>
				<tr>
					<th>Číslo účtu</th>
					<th>Název účtu</th>
					<th>Zůstatek</th>
					<th>Typ účtu</th>
				</tr>
			</thead>
			<tbody>
				{foreach $sharedAccounts as $account}
					<tr>
						{if $transactionType == 1}
							{if $account->type != "savings"}
								<td><a class="table-row search-row" n:href="Admin:newTransactionToClient $account->id, $clientID">{$account->id}</a></td>
								<td><a class="table-row search-row" n:href="Admin:newTransactionToClient $account->id, $clientID">{$account->name}</a></td>
								<td><a class="table-row search-row" n:href="Admin:newTransactionToClient $account->id, $clientID">{$account->balance}</a></td>
								<td><a class="table-row search-row" n:href="Admin:newTransactionToClient $account->id, $clientID">
									{if $account->type == "regular"}Běžný účet
									{else}Úvěrový účet{/if}
								</a></td>
							{else}
								<td>{$account->id}</td>
								<td>{$account->name}</td>
								<td>{$account->balance}</td>
								<td>Spořící účet</td>
							{/if}
						{elseif $transactionType == 2}
							{if $account->type != "savings"}
								<td><a class="table-row search-row" n:href="Admin:newTransactionGetMoney $account->id, $clientID">{$account->id}</a></td>
								<td><a class="table-row search-row" n:href="Admin:newTransactionGetMoney $account->id, $clientID">{$account->name}</a></td>
								<td><a class="table-row search-row" n:href="Admin:newTransactionGetMoney $account->id, $clientID">{$account->balance}</a></td>
								<td><a class="table-row search-row" n:href="Admin:newTransactionGetMoney $account->id, $clientID">
									{if $account->type == "regular"}Běžný účet
									{elseif $account->type == "savings"}Spořící účet
									{else}Úvěrový účet{/if}
								</a></td>
							{else}
								<td>{$account->id}</td>
								<td>{$account->name}</td>
								<td>{$account->balance}</td>
								<td>Spořící účet</td>
							{/if}
						{elseif $transactionType == 3}
							<td><a class="table-row search-row" n:href="Admin:newTransactionGiveMoney $account->id, $clientID">{$account->id}</a></td>
							<td><a class="table-row search-row" n:href="Admin:newTransactionGiveMoney $account->id, $clientID">{$account->name}</a></td>
							<td><a class="table-row search-row" n:href="Admin:newTransactionGiveMoney $account->id, $clientID">{$account->balance}</a></td>
							<td><a class="table-row search-row" n:href="Admin:newTransactionGiveMoney $account->id, $clientID">
								{if $account->type == "regular"}Běžný účet
								{elseif $account->type == "savings"}Spořící účet
								{else}Úvěrový účet{/if}
							</a></td>
						{/if}
					</tr>
				{/foreach}
			</tbody>
		</table>
	{/if}
{/snippet}

<script>
	$('#frm-searchClientByPersonalIDForm-personal_id').keypress(function () {
		if ($(this).val().length > 0) {

			$('#search-button').trigger("click");
		}
	});
</script>

<style>
	#search-button {
		display: none;
	}
</style>

{/block}