<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|striptags} | {/ifset}Common</title>

    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    <link rel="stylesheet" href="{$basePath}/css/common/style.css">
    <link rel="stylesheet" href="{$basePath}/css/common/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{$basePath}/js/common/common.js"></script>
    <script src="{$basePath}/js/common/nette.ajax.js"></script>
    <script src="{$basePath}/js/common/live-form-validation.js"></script>
    <script src="{$basePath}/js/common/bootstrap.min.js"></script>
    
</head>

<body>
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

    {include content}

    {block scripts}
    {/block}
</body>
</html>