body,html {
	font-size: 15px;
	line-height: 1.6;
	color: #000;
	background: #FFF;
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
	color: #0091EA;
}

h2 {
	color: #0091EA;
	
}

h3 {
	color: #0091EA;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: white;
	font-weight: bold;
	background-color: #8BC34A;
	border: none;
	padding: 1em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;

	animation: flash_fadeout 0.5s 1;
    -webkit-animation:s flash_fadeout 0.5s 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

div.flash.error {
	background-color: #F44336;
}

@keyframes flash_fadeout {
    from {top: 0;}
    to {top: -5em;}
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	margin: auto;
	color: #D00;
	max-width: 23em;
	font-weight: bold;
	list-style: none;
}

form .error li {
	margin-left: -2em;
}

#main {
	height: 100%;
}

#main-menu {
	position: relative;
	background-color: #212121;
	float: left;
	width: 10em;
	height: 100%;
}

#sub-menu {
	width: 15em;
	float: left;
	height: 100%;
	background-color: #0091EA;
	color: #FFF;
}

.menu-item {
	color: #FFF;
	font-size: 1.1em;
	display: block;
	width: 100%;
	text-align: center;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	transition: color 0.2s;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-decoration: none;
}

.menu-item:hover {
	color: #FDD835;
}

#menu-item-profile {
	position: absolute;
	bottom: 0px !important;
}

.active-menu {
	color: #FDD835;
	background-color: #323232;
}

.menu-item img {
	width: 3em;
}


.history_transaction_img {
	width: 3.2em !important;
}

.menu-item p {
	padding: 0;
	margin: 0;
	text-indent: 0;
}

.submenu-item {
	color: #FFF;
	font-size: 1.1em;
	display: block;
	text-align: left;
	-webkit-transition: color, background-color 0.2s;
	-moz-transition: color, background-color 0.2s;
	-ms-transition: color, background-color 0.2s;
	transition: color, background-color 0.2s;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.8em;
	text-decoration: none;
}

.submenu-item:hover {
	color: #FDD835;
	background-color: #212121;
}

.submenu-item img{
	width: 1.7em;
	vertical-align: bottom;
}

.active-submenu {
	color: #FFEB3B;
	background-color: #212121;
}

.profile-photo {
	border-radius: 50%;
	width: 5em !important;
}

#menu-wrapper {
	width: 10em;
	float: left;
	height: 100%;
}

.bigger {
	width: 25em !important;
}

#page {
	margin-left: 10em;
	padding: 1em;
	text-align: center;
}

.bigger-page {
	margin-left: 25em;
}

.profile-photo-big {
	border-radius: 50%;
	width: 10em;
}

.table {
	border: 1px solid #9bd0ef;
	display: table;
}

.table-row {
	text-decoration: none;
	display: block;
  	width: 100%;
 	height: 100%;
 	color:  #0091EA !important;
}

.logout_icon {
	background-image: url('../../images/logout_blue.svg');
	background-repeat: no-repeat;
	width: 3em;
	height: 3em;
	margin:1.5em;
	position: absolute;
	top: 0px;
    right: 0px;
	z-index: 5;
}

.logout_icon:hover {
	background-image: url('../../images/logout_dark.svg');
	background-repeat: no-repeat;
	cursor: pointer;
}

.table_button {
	width: ;
}

table {
	margin: auto;
	border: 2px solid #9bd0ef !important;
	border-collapse: collapse !important;
	color:  #0091EA !important;
	font-size: 1em !important;
	margin-top: 3em;
}

table tbody tr:hover {
	color: #FFF !important;
	background-color: #212121 !important;
}

table tbody tr:hover a{
	cursor: pointer;
	color: #FFF !important;
	background-color: #212121 !important;
}

form table tbody tr:hover {
	border: none !important;
	background-color: #FFF !important;
	cursor: text;
}

table thead {
	color: #0091EA !important;
}

form table {
	margin-top: 0em;
	border: none !important;
}

.white {
	display: none;
}

table tbody tr:hover .blue {
	display: none;
}


table tbody tr:hover .white {
	display: inline;
}

.account_access {
	margin-top: 1em !important;
}

.user_detail tr:hover {
	cursor: text !important;
}

.user_detail a {
	color: #0091EA !important;
	display: block;
}
.user_detail tr:hover a {
	color: #FFF !important;
}

table img {
	width: 1.2em;
	height: 1.2em;
}

label {
	display: none;
}

input {
	width: 15em;
	font-size: 0.9em;
	padding: 0.5em;
	margin-top: 1em;
	border: 1px solid #9bd0ef;
	border-radius: 0.4em;
	outline: none;
}

input:focus {
	border: 1px solid #0091EA;

}

input[type="submit"]{
	background-color: #0091EA !important;
	border: none;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	border-radius: 3em;
	color: #FFF;
	font-size: 0.9em;
	-webkit-transition: color, background-color 0.15s;
	-moz-transition: color, background-color 0.15s;
	-ms-transition: color, background-color 0.15s;
	transition: color, background-color 0.15s;
	cursor: pointer;
}

input[type="submit"]:hover {
	color: #FDD835;
	background-color: #212121 !important;
}

tr:hover label {
	color: #0091EA !important;
}

form label {
	display: none !important;
}

input[type="radio"] {
	width: 2em;
	margin: auto;
}

input[type="checkbox"] {
	width: 2em;
	margin: auto;
}

#frm-addBranchForm label {
	display: inline !important;
}

#frm-addBranchForm label.required {
	display: none !important;
}

#frm-editBranchForm label {
	display: inline !important;
}

#frm-editBranchForm label.required {
	display: none !important;
}

#frm-editBranchForm th{
	padding: 0em !important;
	vertical-align: middle;
}

#frm-addBranchForm th{
	padding: 0em !important;
	vertical-align: middle;
}

#frm-signInForm label.required {
	display: none !important;
}

#frm-signInForm label {
	display: inline !important;
}

select {
	border: 1px solid #9bd0ef;
	margin-top: 1em;
	font-size: 0.9em;
	background-color: #FFF;
	outline: none;
}

.slash {
	width: 1.5em;
	color: #9bd0ef;
	font-size: 1.3em !important;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.description {
	font-size: 0.9em;
	height: 10em;
	width: 20em;
	margin-top: 0.9em;
	padding: 0.5em;
	border: 1px solid #9bd0ef;
	outline: none;
	border-radius: 0.4em;
}

.description:focus {
	border: 1px solid #0091EA;
}

.name {
	width: 10em;
}

.adress {
	width: 21.5em;
}

.zip {
	width: 3.5em;
}

.city {
	width: 16.5em;
}

.personal_id {
	width: 21.5em;
}

.person_num_first {
	width: 13.8em;
}

.person_num_second {
	width: 5.5em;
}

.phone {
	width: 17.3em;
}

.preset {
	width: 2.7em;
}

.email {
	width: 21.5em;
}

.help-block {
	color: #000;
	position: absolute;
	background-color: #FFEE58;
	padding: 0.3em;
	padding-right: 0.6em;
	text-indent: 0;
	border-radius: 0.4em;
	margin-left: 0.5em;
	margin-top: 1em;
	font-size: 0.9em;
}

.log-in {
	text-align: center;
}

.time{
	margin-top: 5em;
	font-size: 2.5em;
	color: #0091EA;
	font-weight: bold;
	vertical-align: middle !important;
}

.red {
	color: #F00;
}

.green {
	color: #0D6;
}