{layout '../../../@layout.latte'}

{block content}
<div class="log-in">
<h1 n:block=title>Přihlášení</h1>

{control signInForm}
</div>

{* or use {include '../components/form.latte', form => signInForm} *}
