{block sidemenu}

{if isset($role)}
	{if $role == "admin"}
		<a class="menu-item {ifCurrent Admin:addEmployee}active-menu{/ifCurrent}" n:href="Admin:addEmployee">
		    <img src="../images/menu/addUser.svg">
		    <p>Přidat<br>zaměstnance</p>
		</a>

		<a class="menu-item {ifCurrent Admin:addBranch}active-menu{/ifCurrent}" n:href="Admin:addBranch">
		    <img src="../images/menu/addBranch.svg">
		    <p>Přidat pobočku</p>
		</a>

		<a class="menu-item {ifCurrent Admin:searchEmployee}active-menu{/ifCurrent}" n:href="Admin:searchEmployee">
		    <img src="../images/menu/findUser.svg">
		    <p>Vyhledat zaměstnance</p>
		</a>

		<a class="menu-item {ifCurrent Admin:branches}active-menu{/ifCurrent}" n:href="Admin:branches">
		    <img src="../images/menu/findBranch.svg">
		    <p>Pobočky</p>
		</a>

		<a class="menu-item {ifCurrent Admin:manageTime}active-menu{/ifCurrent}" n:href="Admin:manageTime">
		    <img src="../images/menu/time.svg">
		    <p>Správa času</p>
		</a>
	{elseif $role == "employee"}
		<a class="menu-item {ifCurrent Admin:addClient}active-menu{/ifCurrent}" n:href="Admin:addClient">
		    <img src="../images/menu/addUser.svg">
		    <p>Vytvořit klienta</p>
		</a>

		<a class="menu-item {ifCurrent Admin:searchClient}active-menu{/ifCurrent}" n:href="Admin:searchClient">
		    <img src="../images/menu/findUser.svg">
		    <p>Vyhledat klienta</p>
		</a>

		<a class="menu-item {ifCurrent Admin:searchClientByPersonalID 1}active-menu{/ifCurrent}" n:href="Admin:searchClientByPersonalID 1">
		    <img src="../images/menu/transaction.svg">
		    <p>Transakce</p>
		</a>
	{elseif $role == "client"}
		<a class="menu-item {ifCurrent Homepage:}active-menu{/ifCurrent}" n:href="Homepage:">
		    <img src="../images/menu/account.svg">
		    <p>Bankovní účty</p>
		</a>

		{if isset($account) && ($account->type != "savings")}
			<a class="menu-item {ifCurrent Homepage:newTransaction}active-menu{/ifCurrent}" n:href="Homepage:newTransaction $account->id">
			    <img src="../images/menu/transaction.svg">
			    <p>Transakce</p>
			</a>

			<a class="menu-item {ifCurrent Homepage:transactionHistory}active-menu{/ifCurrent}" n:href="Homepage:transactionHistory $accountID">
			    <img class="history_transaction_img" src="../images/menu/history_transaction.svg">
			    <p>Historie Transakcí</p>
			</a>

			{if $account->type == "regular"}
				<a class="menu-item {ifCurrent Homepage:editAccount}active-menu{/ifCurrent}" n:href="Homepage:editAccount $account->id">
				    <img src="../images/menu/settings.svg">
				    <p>Nastavení účtů</p>
				</a>
			{/if}
		{/if}
	{/if}

	{if $role == "client"}
		<a class="menu-item {ifCurrent Homepage:clientDetail}active-menu{/ifCurrent}" n:href="Homepage:clientDetail" id="menu-item-profile">
			{if $hasImage == 1}
				<img src="../images/clients/{$clientID}.jpg" class="profile-photo">
			{else}
				<img src="../images/default_profile.svg" class="profile-photo">
			{/if}

			<p>{$userName}</p>
		</a>
	{else}
		<a class="menu-item {ifCurrent Admin:}active-menu{/ifCurrent}" n:href="Admin: " id="menu-item-profile">
			{if $hasImage == 1}
				<img src="../images/employees/{$employeeID}.jpg" class="profile-photo">
			{else}
				<img src="../images/default_profile.svg" class="profile-photo">
			{/if}

			<p>{$userName}</p>
		</a>
	{/if}
{/if}

{/block}