{block submenu}

{if isset($submenu)}
	{if $submenu == "employee"}
		<a class="submenu-item {ifCurrent Admin:employeeDetail}active-submenu{/ifCurrent}" n:href="Admin:employeeDetail $employeeID">
			<img src="../images/submenu/info.svg"> Přehled
		</a>

		<a class="submenu-item {ifCurrent Admin:editEmployee}active-submenu{/ifCurrent}" n:href="Admin:editEmployee $employeeID">
			<img src="../images/menu/editUser.svg"> Editovat zaměstance
		</a>

		<a class="submenu-item {ifCurrent Admin:deleteEmployee}active-submenu{/ifCurrent}" n:href="Admin:deleteEmployee $employeeID">
			<img src="../images/menu/deleteUser.svg"> Odstranit zaměstance
		</a>
	{elseif $submenu == "branch"}
		<a class="submenu-item {ifCurrent Admin:branchDetail}active-submenu{/ifCurrent}" n:href="Admin:branchDetail $branchID">
			<img src="../images/submenu/info.svg"> Přehled
		</a>

		<a class="submenu-item {ifCurrent Admin:editBranch}active-submenu{/ifCurrent}" n:href="Admin:editBranch $branchID">
			<img src="../images/menu/editBranch.svg"> Editovat pobočku
		</a>

		<a class="submenu-item {ifCurrent Admin:deleteBranch}active-submenu{/ifCurrent}" n:href="Admin:deleteBranch $branchID">
			<img src="../images/menu/deleteBranch.svg"> Odstranit pobočku
		</a>
	{elseif $submenu == "user"}
		<a class="submenu-item {ifCurrent Admin:changePassword}active-submenu{/ifCurrent}" n:href="Admin:changePassword">
			<img src="../images/submenu/password.svg"> Změna hesla
		</a>

		<a class="submenu-item {ifCurrent Admin:uploadImage}active-submenu{/ifCurrent}" n:href="Admin:uploadImage">
			<img src="../images/submenu/image.svg"> Změna obrázku
		</a>

		<a class="submenu-item" n:href="Sign:out">
			<img src="../images/submenu/logout.svg"> Odhlásit se
		</a>
	{elseif $submenu == "client"}
		<a class="submenu-item {ifCurrent Admin:clientDetail}active-submenu{/ifCurrent}" n:href="Admin:clientDetail $clientID">
			<img src="../images/submenu/info.svg"> Přehled
		</a>

		<a class="submenu-item {ifCurrent Admin:editClient}active-submenu{/ifCurrent}" n:href="Admin:editClient $clientID">
			<img src="../images/menu/editUser.svg"> Editovat klienta
		</a>

		<a class="submenu-item {ifCurrent Admin:deleteClient}active-submenu{/ifCurrent}" n:href="Admin:deleteClient $clientID">
			<img src="../images/menu/deleteUser.svg"> Odstranit klienta
		</a>

		<a class="submenu-item {ifCurrent Admin:addAccount}active-submenu{/ifCurrent}" n:href="Admin:addAccount $clientID">
			<img src="../images/submenu/addAccount.svg"> Přidat účet
		</a>

		<a class="submenu-item {ifCurrent Admin:account}active-submenu{/ifCurrent}" n:href="Admin:account $clientID">
			<img src="../images/submenu/deleteAccount.svg"> Odstranit účet
		</a>
		{if $detail == "detailAccountRegular"}
			<a class="submenu-item {ifCurrent Admin:editAccount}active-menu{/ifCurrent}" n:href="Admin:editAccount $account->id">
				<img src="../images/submenu/settings.svg"> Nastavení účtů
			</a>
		{/if}

	{elseif $submenu == "transaction"}
		<a class="submenu-item {ifCurrent Admin:searchClientByPersonalID 1}active-submenu{/ifCurrent}" n:href="Admin:searchClientByPersonalID 1">
			<img src="../images/menu/transfer_money.svg"> Bezhotovostní operace
		</a>

		<a class="submenu-item {ifCurrent Admin:searchClientByPersonalID 2}active-submenu{/ifCurrent}" n:href="Admin:searchClientByPersonalID 2">
			<img src="../images/submenu/collectMoney.svg"> Vybrat z účtu
		</a>

		<a class="submenu-item {ifCurrent Admin:searchClientByPersonalID 3}active-submenu{/ifCurrent}" n:href="Admin:searchClientByPersonalID 3">
			<img src="../images/submenu/depositMoney.svg"> Vložit na účet
		</a>
	{elseif $submenu == "client_options"}
		<a class="submenu-item {ifCurrent Homepage:changePassword}active-submenu{/ifCurrent}" n:href="Homepage:changePassword">
			<img src="../images/submenu/password.svg"> Změna hesla
		</a>

		<a class="submenu-item {ifCurrent Homepage:uploadImage}active-submenu{/ifCurrent}" n:href="Homepage:uploadImage">
			<img src="../images/submenu/image.svg"> Změna obrázku
		</a>

		<a class="submenu-item" n:href="Sign:out">
			<img src="../images/submenu/logout.svg"> Odhlásit se
		</a>
	{/if}
{/if}

{/block}