{layout '../../../@layout.latte'}

{block content}

<h1>Přehled účtu {$account->name}</h1>

{if $account->type == "regular"}
	<table class="table table-hover">
		<tbody>
			<tr>
				<th>Číslo účtu</th>
				<td>{$account->id}</td>
			</tr>
			<tr>
				<th>Stav účtu</th>
				<td>{$account->balance}kč</td>
			</tr>
			<tr>
				<th>Typ účtu</th>
				<td>Běžný účet</td>
			</tr>
			<tr>
				<th>Denní limit</th>
				<td>{$accountSpecific->daily_limit}</td>
			</tr>
		</tbody>
	</table>
{elseif $account->type == "savings"}
	<table class="table table-hover">
		<tbody>
			<tr>
				<th>Číslo účtu</th>
				<td>{$account->id}</td>
			</tr>
			<tr>
				<th>Stav účtu</th>
				<td>{$account->balance}kč</td>
			</tr>
			<tr>
				<th>Typ účtu</th>
				<td>Spořící účet</td>
			</tr>
			<tr>
				<th>Úrok</th>
				<td>{$accountSpecific->interest}%</td>
			</tr>
		</tbody>
	</table>
{else}
	<table class="table table-hover">
		<tbody>
			<tr>
				<th>Číslo účtu</th>
				<td>{$account->id}</td>
			</tr>
			<tr>
				<th>Stav účtu</th>
				<td>{$account->balance}kč</td>
			</tr>
			<tr>
				<th>Typ účtu</th>
				<td>Úvěrový účet</td>
			</tr>
			<tr>
				<th>Úrok</th>
				<td>{$accountSpecific->interest}%</td>
			</tr>
			<tr>
				<th>Výše úvěru</th>
				<td>{$accountSpecific->amount} Kč</td>
			</tr>
			<tr>
				<th>Typ úvěru</th>
				<td>{$accountSpecific->type}</td>
			</tr>
		</tbody>
	</table>

{/if}

{if isset($accessArray)}
	<br><br>

	<h3>Seznam lidí, kteří mají přístup k Vašemu bankovnímu účtu</h3>

	<table class="table table-hover account_access">
		<thead>
			<tr>
				<th>Rodné číslo</h1>
				<th>Jméno</th>
				<th>Příjmení</th>
				<th>Adresa</th>
				<th>Město</th>
				<th>PSČ</th>
			</tr>
		</thead>
		
		<tbody>
			{foreach $accessArray as $disponent}
					<tr>
						<td>{$disponent->personal_number}</a></td>
						<td>{$disponent->name}</td>
						<td>{$disponent->surname}</td>
						<td>{$disponent->adress}</td>
						<td>{$disponent->city}</td>
						<td>{$disponent->zip}</td>
					</tr>
				{/foreach}
		</tbody>
	</table>
{/if}

{/block}