{layout '../../../@layout.latte'}

{block content}


{if $client->has_image == 1}
	<img src="../images/clients/{$client->id}.jpg" class="profile-photo-big">
{else}
	<img src="../images/default_profile_color.svg" class="profile-photo">
{/if}

<h1>Vítejte na Vašem profilu</h1>

<table class="table table-hover user_detail">
	<tbody>
		<tr>
			<th>Jméno</th>
			<td>{$client->name}</td>
		</tr>
		<tr>
			<th>Příjmení</th>
			<td>{$client->surname}</td>
		</tr>
		<tr>
			<th>Uživatelské jméno</th>
			<td>{$client->username}</td>
		<tr>
			<th>Rodné číslo</th>
			<td>{$client->personal_number}</td>
		</tr>
		<tr>
			<th>Číslo občanského průkazu</th>
			<td>{$client->personal_id}</td>
		</tr>
		<tr>
			<th>Datum narození</th>
			<td>{$client->birthday_number}</td>
		</tr>
		<tr>
			<th>Pohlaví</th>
			<td>{$client->sex}</td>
		</tr>
		<tr>
			<th>Adresa</th>
			<td>{$client->adress}</td>
		</tr>
		<tr>
			<th>Město</th>
			<td>{$client->city}</td>
		</tr>
		<tr>
			<th>PSČ</th>
			<td>{$client->zip}</td>
		</tr>
		<tr>
			<th>Telefon</th>
			<td>{$client->phone}</td>
		</tr>
		<tr>	
			<th>E-mail</th>
			<td>{$client->email}</td>
		</tr>
	</tbody>
</table>

{/block}