{layout '../../../@layout.latte'}

{block content}

<h1>Vaše bankovní účty</h1>

{if $accounts}
	<table class="table table-hover user_detail">
		<thead>
			<tr>
				<th>Číslo účtu</th>
				<th>Název účtu</th>
				<th>Zůstatek</th>
				<th>Typ účtu</th>
			</tr>
		</thead>
		<tbody>
			{foreach $accounts as $account}
				<tr>
				<!-- <a class="table-row search-row" n:href="Admin:accountDetail $account->id"> -->
					<td><a class="table-row search-row" n:href="Homepage:accountDetail $account->id">{$account->id}</a></td>
					<td><a class="table-row search-row" n:href="Homepage:accountDetail $account->id">{$account->name}</a></td>
					<td><a class="table-row search-row" n:href="Homepage:accountDetail $account->id">{$account->balance} kč</a></td>
					<td><a class="table-row search-row" n:href="Homepage:accountDetail $account->id">
						{if $account->type == "regular"}Běžný účet
						{elseif $account->type == "savings"}Spořící účet
						{else}Úvěrový účet{/if}
					</a></td>
				</tr>
			{/foreach}
		</tbody>
	</table>
{/if}

<h1>Sdílené bankovní účty</h1>

{if $sharedAccounts}
	<table class="table table-hover user_detail">
		<thead>
			<tr>
				<th>Číslo účtu</th>
				<th>Název účtu</th>
				<th>Zůstatek</th>
				<th>Typ účtu</th>
			</tr>
		</thead>
		<tbody>
			{foreach $sharedAccounts as $account}
				<tr>
				<!-- <a class="table-row search-row" n:href="Admin:accountDetail $account->id"> -->
					<td><a class="table-row search-row" n:href="Homepage:accountDetail $account->id">{$account->id}</a></td>
					<td><a class="table-row search-row" n:href="Homepage:accountDetail $account->id">{$account->name}</a></td>
					<td><a class="table-row search-row" n:href="Homepage:accountDetail $account->id">{$account->balance} kč</a></td>
					<td><a class="table-row search-row" n:href="Homepage:accountDetail $account->id">
						{if $account->type == "regular"}Běžný účet
						{elseif $account->type == "savings"}Spořící účet
						{else}Úvěrový účet{/if}
					</a></td>
				</tr>
			{/foreach}
		</tbody>
	</table>
{/if}

{/block}