{layout '../../../@layout.latte'}

{block content}

<h1>Historie transakcí</h1>

{if isset($transactions)}
	<table>
		<tr>
			<th>Datum transakce</th>
			<th>Typ</th>
			<th>Číslo účtu</th>
			<th>Var. symbol</th>
			<th>Částka</th>
		</tr>

		{foreach $transactions as $transaction}
			<tr>
				<td>{$transaction->date|date:'%d. %m. %Y'}</td>
				<td>
					{if $transaction->type == "money"}
						Vklad na účet
					{elseif ($transaction->type == "from client")}
						{if ($transaction->account01 == $accountID)}
							Platba na úkor Vašeho účtu
						{else}
							Platba ve prospěch Vašeho účtu
						{/if}
					{else}
						Výběr z účtu
					{/if}
				</td>
				<td>
					{if $transaction->account02 != NULL}
						{$transaction->account02}
					{/if}
				</td>
				<td>{$transaction->variable_symbol}</td>
				<td>
					{if $transaction->type == "money"}
						{$transaction->amount} Kč
					{elseif ($transaction->type == "from client") && ($transaction->account01 != $accountID)}
						<span class="green">+{$transaction->amount} Kč</span>
					{else}
						<span class="red">-{$transaction->amount} Kč</span>
					{/if}
				</td>
			</tr>
		{/foreach}
	</table>
{/if}

{/block}